<footer class="footer is-dark">
  <div class="container">
    <div class="columns menu-columns is-multiline">
      <div class="column is-one-third">
        <ul class="">
          {{ range .Site.Menus.footer }}
          {{ $text := print .Name | safeHTML }}
          <li>
            <a class="" href="{{ .URL }}">{{ $text }}</a>
          </li>
          {{ end }}
        </ul>
      </div>
      <div class="column is-one-third">
        <h4 id="newsletter-subscription" class="title is-5 mb-0">Lettre d'information</h4>
        <div class="mailing-form">
          <div class="ml-form-embed"
            data-account="2307881:c4h3b3e9s2"
            data-form="2519933:z9p9x0">
          </div>
        </div>
      </div>
      <div class="column is-one-third">
        <h4 class="title is-5">Contact</h4>
        <p>
          {{ with .Site.Data.global.nom_organisation }}
            {{.}}
            <br>
          {{ end }}
          {{ with .Site.Data.global.adresse_organisation }}
            {{.}}
            <br>
          {{ end }}
          {{ with .Site.Data.global.ville_organisation }}
            {{.}}
          {{ end }}
        </p>
        <p>
          {{ with .Site.Data.global.email_organisation }}
          <i class="far fa-envelope mr-1"></i>
          <a href="mailto:{{ . }}">{{ . }}</a>
          {{ end }}

          {{ with .Site.Data.global.telephone_organisation }}
          <br>
          <i class="fas fa-phone mr-1"></i>
          <a href="tel:{{ . }}">{{ . }}</a>
          {{ end }}

          {{ with .Site.Data.global.facebook_organisation }}
          <br>
          <i class="fab fa-facebook-f mr-1"></i>
          <a href="{{ . }}" target="_blank">Page facebook</a>
          {{ end }}

          {{ with .Site.Data.global.instagram_organisation }}
          <br>
          <i class="fab fa-instagram mr-1"></i>
          <a href="{{ . }}" target="_blank">Instagram</a>
          {{ end }}
        </p>
      </div>
    </div>
  </div>
</footer>