<header class="header">
  <nav class="navbar is-light">
    <div class="container">
      <div class="navbar-brand brand-title">
        {{ $logo := resources.Get "images/logo.svg" }}
        <a class="navbar-item" href="{{ .Site.BaseURL }}">
          <!-- <img class="" src="{{ $logo.Permalink }}"
            alt="logo"> -->
            Les Vigiliantes
        </a>
        <div class="navbar-burger burger" data-target="navbar-menu">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
      
      <div id="navbar-menu" class="navbar-menu">
        <div class="navbar-end">
          {{ $current := . }}
          {{ range .Site.Menus.main }}

            {{ if .HasChildren }}


              <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link {{ if $current.HasMenuCurrent "main" . }}is-active{{ end }}">
                  {{ .Name }}
                </a>

                <div class="navbar-dropdown">
                  {{ range .Children }}
                    <a href="{{ .URL }}" class="navbar-item {{ if $current.IsMenuCurrent "main" . }}is-active{{ end }}">
                      {{ .Name }}
                    </a>
                  {{ end }}
                </div>
              </div>
            {{ else }}
              {{ $active := or ($current.IsMenuCurrent "main" .) ($current.HasMenuCurrent "main" .) }}
              {{ $active = or $active (eq .Page $current) }}
              {{ $text := print .Name | safeHTML }}

              <a class="navbar-item {{ if $active }} is-active {{ end }}" href="{{ .URL }}">{{ $text }}</a>
            {{ end }}
          {{ end }}
        </div>
      </div>
    </div>
  </nav>
</header>