{{ define "main" }}
<main aria-role="main">
  <section class="section">
    <div class="container">
      <h1 class="title is-size-1 has-text-centered">Prochain rendez-vous</h1>


      {{ $events := where .Site.RegularPages "Type" "events" }}
      {{ range first 1 ($events.ByParam "eventDate").Reverse }}
        <div class="columns is-vcentered mt-5">
          {{ with .Params.picture }}
            <div class="column is-half has-text-centered">
              {{ $imageResource := ($.Site.GetPage "section" "uploads").Resources.GetMatch (strings.TrimPrefix "/uploads/" . ) }}
              {{ $pic := $imageResource.Resize "x600"}}
              <img src="{{ $pic.Permalink }}" alt="image {{$.Title }}">
            </div>
          {{ end }}
          <div class="column">
            <div class="content">
              <h1 class="title is-size-3 has-text-centered"><a href="{{.Permalink}}">{{ .Title }}</a></h1>
              {{ .Summary }}
              <p class="has-text-right">
                <a href="{{.Permalink}}">En savoir plus</a>
              <p>
            </div>
            <div class="notification mb-5">
              <p class="has-text-weight-bold">{{.Params.eventReadableDate}}, {{.Params.eventReadableTime}}<p>
              <p class="">{{.Params.locationStreet}}<p>
              <p class="">{{.Params.locationCity}}<p>
            </div>

            {{ $rdvs := .Site.GetPage "/events" }}
            <a class="button is-primary is-pulled-right mt-5" href="{{ $rdvs.Permalink }}">
              Voir tous les rendez-vous
            </a>

          </div>
        </div>
      {{ end }}
      </div>
    </div>
  </section>
</main>
{{ end }}