{{ define "main" }}
  <main aria-role="main">

    <section class="hero is-home-pictured is-medium is-primary">
      <div class="columns">
        <div class="column">
          <div class="hero-body">
            <div class="container">
              <h1 class="title is-spaced">
                {{.Site.Data.global.slogan_accueil}}
              </h1>
              <h2 class="subtitle">
                {{.Site.Data.global.sous_slogan_accueil}}
              </h2>
            </div>
          </div>
        </div>
        {{ with .Params.picture }}
          <div class="column is-narrow pr-4">
            {{ $imageResource := ($.Site.GetPage "section" "uploads").Resources.GetMatch (strings.TrimPrefix "/uploads/" . ) }}
            {{ $pic := $imageResource.Resize "x500"}}
            <img src="{{ $pic.Permalink }}" alt="image {{$.Title }}">
          </div>
        {{ end }}
      </div>
    </div>
  </section>


  <section class="section">
    <div class="container">
      <h1 class="title is-size-1 has-text-centered">Prochains rendez-vous</h1>

      <!-- <div class="has-text-centered mt-6 mb-4">
      <p>Pas de prochains rendez-vous pour le moment, restrictions liées à la pandémie obligent !</p>
      <p>En attendant, nous préparons nos prochaines actions, et vous pouvez consulter nos <a href="/actualites/">dernières actualités</a>.</p>
      <p>A très vite !</p>
      </div> -->

      {{ $events :=( where .Site.RegularPages "Type" "events").ByParam "eventDate" }}
      {{ range $events  }}
        {{ if ge (time .Params.eventdate) (time now)}}
          <div class="columns is-vcentered mt-5">
            {{ with .Params.picture }}
              <div class="column is-half has-text-centered">
                {{ $imageResource := ($.Site.GetPage "section" "uploads").Resources.GetMatch (strings.TrimPrefix "/uploads/" . ) }}
                {{ $pic := $imageResource.Resize "x600"}}
                <img src="{{ $pic.Permalink }}" alt="image {{$.Title }}">
              </div>
            {{ end }}
            <div class="column">
              <div class="content">
                <h1 class="title is-size-3 has-text-centered">
                  <a href="{{.Permalink}}">{{ .Title }}</a>
                </h1>
                {{ .Summary }}
              </div>
              <div class="notification mb-5">
                <p class="has-text-weight-bold">{{.Params.eventReadableDate}}, {{.Params.eventReadableTime}}
                </p>
                <p class="">{{.Params.locationStreet}}
                </p>
                <p class="">{{.Params.locationCity}}
                </p>
              </div>
                <p class="has-text-right">
                  <a class="button is-primary is-outlined" href="{{.Permalink}}">En savoir plus</a>
                </p>
            </div>
          </div>
        {{ end }}
      {{ end }}

      {{ $rdvs := .Site.GetPage "/events" }}
      <div class="has-text-centered">
        <a class="button is-primary is-centered mb-5" href="{{ $rdvs.Permalink }}">
          Voir tous les rendez-vous
        </a>
      </div>
    </div>
  </section>

  <section class="section">
    <div class="container">
      <h1 class="title is-size-1 has-text-centered">Dernières actualités</h1>

      {{ $actus := where .Site.RegularPages "Type" "actualites" }}
      <div class="columns is-multiline">
        {{ range $index, $element := first 3 ( $actus )  }}
          <div class="column is-one-third">
            {{ .Render "card"}}
          </div>
        {{ end }}
      </div>


      {{ $rdvs := .Site.GetPage "/actualites" }}
      <div class="has-text-centered">
        <a class="button is-primary is-centered mb-5" href="{{ $rdvs.Permalink }}">
          Voir toutes les actualités
        </a>
      </div>
    </div>
  </section>


</main>
{{ end }}