{{ $plugins := resources.Get "js/plugins.js" }}
{{ $base := resources.Get "js/base.js" }}
{{ $js := slice $plugins $base | resources.Concat "js/bundle.js" }}
<script src="{{ $js.RelPermalink }}"></script>

  <!-- Diaporama -->
{{ if .Params.slider }}
  <script src=" https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/js/splide.min.js "></script>
{{ end }}

  <!-- Newsletter -->
<script>
  window.REQUIRED_CODE_ERROR_MESSAGE = 'Veuillez choisir un code pays';
  window.LOCALE = 'fr';
  window.EMAIL_INVALID_MESSAGE = window.SMS_INVALID_MESSAGE = "Les informations que vous avez fournies ne sont pas valides. Veuillez vérifier le format du champ et réessayer.";
  window.REQUIRED_ERROR_MESSAGE = "Vous devez renseigner ce champ. ";
  window.GENERIC_INVALID_MESSAGE = "Les informations que vous avez fournies ne sont pas valides. Veuillez vérifier le format du champ et réessayer.";
  window.INVALID_NUMBER = "Les informations que vous avez fournies ne sont pas valides. Veuillez vérifier le format du champ et réessayer.";
  window.INVALID_DATE = "Veuillez saisir une date valide";
  window.REQUIRED_MULTISELECT_MESSAGE = 'Veuillez choisir au moins une option';

  window.translation = {
    common: {
      selectedList: '{quantity} liste sélectionnée',
      selectedLists: '{quantity} listes sélectionnées',
      selectedOption: '{quantity} sélectionné',
      selectedOptions: '{quantity} sélectionnés',
    }
  };

  var AUTOHIDE = Boolean(0);
</script>



<script defer src="https://sibforms.com/forms/end-form/build/main.js"></script>
